<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>

<%- include("partials/nav") %>

<div class="container text-center mt-5">

    <h1 class="mb-4">Welcome, <%= fullName %></h1>

    <div class="row justify-content-center g-3">

        <div class="col-md-3">
            <a href="/addAuthor" class="btn btn-primary w-100 py-3">Add Author</a>
        </div>

        <div class="col-md-3">
            <a href="/authors" class="btn btn-secondary w-100 py-3">Update Author</a>
        </div>

        <div class="col-md-3">
            <a href="/deleteAuthor" class="btn btn-danger w-100 py-3">Delete Author</a>
        </div>

        <div class="col-md-3">
            <a href="/addQuote" class="btn btn-primary w-100 py-3">Add Quote</a>
        </div>

        <div class="col-md-3">
            <a href="/quotes" class="btn btn-secondary w-100 py-3">Update Quote</a>
        </div>

        <div class="col-md-3">
            <a href="/deleteQuote" class="btn btn-danger w-100 py-3">Delete Quote</a>
        </div>

        <div class="col-md-3">
            <a href="/profile" class="btn btn-info w-100 py-3 text-white">Profile</a>
        </div>

        <div class="col-md-3">
            <a href="/setting" class="btn btn-dark w-100 py-3">Settings</a>
        </div>

    </div>

</div>

<%- include("partials/footer") %>

</body>
</html>